body {
    background-image: linear-gradient(250deg, silver, black)
}

.header {
  background: forestgreen;
  font-family: 'Times New Roman', Times;
  font-weight: 600;
  font-style: italic;
}
h2 {
  -ms-flex-align: center;
  padding: 10px;
  width: 70vw;
  text-align: center;
  border-style: dashed;
  border-width: 2px;
  border-color: darkgray;
  background-color: black;
  color: rgb(191, 100, 207);
}

.Projects {
  box-sizing: border-box;
  width: 50px;
  border: 15px solid blue;
  border-radius: 5%;
  padding: 10px;
}
.Projects a {
  text-align: center;
  background-color: black;
  color: rgb(191, 100, 207);
}

footer {
  flex-wrap: wrap;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

nav::after {
  content: unset;
  clear: both;
}
nav {
  float: top;
}

nav ul {
  margin: 0;
  padding: 1;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 0;
  position: relative;
}
nav a {
  color: blue;
  text-decoration: none;
  font-weight: bolder;
}

nav :hover {
  color: deeppink;
}
nav a::before {
  content: '';
  height: 10px;
  width: 90%;
  display: block;

  position: absolute;
  top: 2%;
  width: auto;
}
